{% extends 'base.html.twig' %}

{% block title %}Candidats{% endblock %}

{% block body %}
    <h1>Liste des candidats</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Email</th>
                <th>Telephone</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for candidat in candidats %}
            <tr>
                <td>{{ candidat.id }}</td>
                <td>{{ candidat.nom }}</td>
                <td>{{ candidat.prenom }}</td>
                <td>{{ candidat.email }}</td>
                <td>{{ candidat.telephone }}</td>
                <td>
                    <a href="{{ path('app_candidat_show', {'id': candidat.id}) }}">details</a>
                    <a href="{{ path('app_candidat_edit', {'id': candidat.id}) }}">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun resultats trouvés</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_candidat_new') }}">Creer un nouveau candidat</a>
{% endblock %}
